<section id="tasks">
    <header><p>{{name}}'s tasks</p></header>
    <menu>
        <button (click)="onStartaddTask()">Add Tasks</button>
        @if (isDataVisible) {
            <app-addtask (cancel)="onCancelAddTask()" (add)="onAddTask($event)"></app-addtask>
        }
    </menu>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (complete)="onCompleteTask($event)"></app-task>
            </li>
        }
        
    </ul>
</section>
